<div class="bg-purple">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h2></h2>
        <h3 class="title">Win a Google Home, Chromecast Ultra and a year of nbn<sup>&trade;</sup></h3>
        <h4 class="contracts">Sign up to any nbn plan before 31 August to go into the draw.
          Plans start from $40 a month.</h4>
        <p><a href="https://www.w3schools.com">T&amp;Cs apply.</a></p>
        <a class="button--orange-cta" href="//www.amaysim.com.au/plans/nbn">sign up</a>
      </div>
      <div class="col">
        <img class="img" src="https://www.amaysim.com.au/sites/default/files/styles/retina_1x/public/2017-08/Header_Image-nbn-com-2.png?itok=_pwM8VHJ" alt="amaysim View" height="190px" width="230px" >
      </div>
    </div>
  </div>
</div>
