<div class="bg-whiteone">
  <div class="container">
    <div class="row">
      <div class="col">
        <p></p>
        <img src="https://www.amaysim.com.au/sites/default/files/2017-04/lock_dash_mint.svg" alt="amaysim View" height="40px" width="40px" >
        <h3>no lock-in contracts</h3>
        <h4 class="contracts">Freedom to switch your plan or cancel at anytime.</h4>
      </div>
      <div class="col">
        <p></p>
        <img src="https://www.amaysim.com.au/sites/default/files/2017-04/join_dash_mint.svg" alt="amaysim View" height="40px" width="40px" >
        <h3>simple to join</h3>
        <h4 class="contracts">Quick and easy online sign-up, we’ll take care of all the fiddly bits.
          easy to manage
          Download our app or manage your plans online.
        </h4>
      </div>
      <div class="col">
        <p></p>
        <img src="https://www.amaysim.com.au/sites/default/files/2017-04/app_dash_mint.svg" alt="amaysim View" height="40px" width="40px" >
        <h3>easy to manage</h3>
        <h4 class="contracts"><a href="https://www.w3schools.com">T&amp;Cs apply. "or manage your plan"</a></h4>
      </div>
    </div>
  </div>
</div>
